<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        {% block stylesheets %}
        <style>
        
label {
    font-weight: 600
    color: #666;
}
body {
  background: #f1f1f1;
}
.box8{
  box-shadow: 0px 0px 5px 1px #999;
}
.mx-t3{
  margin-top: -3rem;
}      
        </style>
  {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <h1>Test add bdd</h1>

  <div class="container mt-3">
    {{ form_errors(UserForm) }}
    <div class="row box8">
        <div class="mx-auto mb-4 d-flex flex-row justify-content-end">
            <h2 class="fw-bold mx-3">JE SUIS</h2>
            <h2 class="fw-bold mx-3">J'AIME</h2>
            <h2 class="fw-bold mx-3">JE VEUX</h2>
        </div>

        {{ form_start(UserForm) }}
        <div class="row">
            <div class="col-md-6">
                <!-- Partie Gauche -->
                <div class="form-group">
                    {{ form_row(UserForm.username) }}
                </div>
                <div class="form-group">
                    {{ form_row(UserForm.city) }}
                </div>
                {# <div class="form-group">
                    {{ form_row(UserForm.birthdate) }}
                </div> #}
                <div class="form-group">
                    {{ form_row(UserForm.age) }}
                </div>
                <div class="form-group">
                    {{ form_row(UserForm.gender) }}
                </div>
                <div  class="form-group">
                    {{ form_row(UserForm.language) }}
                </div>
            </div>

            <div class="col-md-6">
                <!-- Partie Droite -->
                <div class="form-group">
                    <img class="img-thumbnail  float-start" src="https://media.istockphoto.com/id/1300845620/fr/vectoriel/appartement-dic%C3%B4ne-dutilisateur-isol%C3%A9-sur-le-fond-blanc-symbole-utilisateur.jpg?s=612x612&w=0&k=20&c=BVOfS7mmvy2lnfBPghkN__k8OMsg7Nlykpgjn0YOHj0=" alt="">
                    {{ form_widget(UserForm.image) }}
                </div>
                <div class="form-group">
                    {{ form_row(UserForm.job) }}
                </div>
                <div class="form-group">
                    {{ form_row(UserForm.description) }}
                </div>
            </div>
                <div class="form-group">
                    {{ form_row(UserForm.diet) }}
                </div>
        </div>

    </div>
</div>
        {{ form_widget(UserForm.submit) }}
        {{ form_end(UserForm) }}

{# 
  <div class="container mt-3">
  <form>
    <div class="row box8">
      <div class="mx-auto mb-4 d-flex flex-row justify-content-end  " >
        <h2 class="fw-bold mx-3 ">JE SUIS</h2>
        <h2 class="fw-bold mx-3">J'AIME</h2>
        <h2 class="fw-bold mx-3">JE VEUX</h2>
      </div>
      
     <div class="col-md-6">
        <!-- Partie Gauche -->
        <div class="form-group">
          <label for="name-f">Je m'appelle</label>
          <input type="text" class="form-control" name="fname" id="name-f" placeholder="Entrez votre prénom." required>
        </div>
        <div class="form-group">
          <label for="name">J'habite</label>
          <input type="text" class="form-control" name="lname" id="name-l" placeholder="Entrez votre nom de famille." required>
        </div>
           <div class="form-group">
          <label for="Date">Date de naissance</label>
          <input type="date" name="dob" class="form-control" id="Date" required>
        </div>
        
        <div class="form-group">
          <label for="sex">Genre</label>
          <select id="sex" class="form-control">
            <option value="male">Homme</option>
            <option value="female">Femme</option>
            <option value="unspecified">Non spécifié</option>
          </select>
        </div>
      
        <div class="form-group">
          <label >Je parle </label>
          <input type="text" class="form-control" required>
        </div>
      </div>
      <div class="col-md-6">
        <!-- Partie Droite -->
     
   
        <div class="form-group">
<img src="https://media.istockphoto.com/id/1300845620/fr/vectoriel/appartement-dic%C3%B4ne-dutilisateur-isol%C3%A9-sur-le-fond-blanc-symbole-utilisateur.jpg?s=612x612&w=0&k=20&c=BVOfS7mmvy2lnfBPghkN__k8OMsg7Nlykpgjn0YOHj0=" alt="">          
  <input type="file" name="photo" id="imgInp"  capture="environment">
              </div>

        <div class="form-group">
          <label for="name-f">Je bosse dans ...</label>
          <input type="text" class="form-control" name="fname" id="name-f" placeholder="Entrez votre prénom." required>
        </div>

         <div class="form-group">
          <label for="name-f">Je me décris en quelques mots ...</label>
          <input type="text" class="form-control" name="fname" id="name-f" placeholder="Entrez votre prénom." required>
        </div>
    

      </div>

        <div class="form-group">
          <label for="name-f">Mon régime alimentaire ...</label>
          <div class="d-flex flex-row"> 
          <input type="text" class="btn  btn-outline-warning" name="fname" id="name-f" value="vegetarien">
          <input type="text" class="btn  btn-outline-warning" name="fname" id="name-f" value="vegetarien">
          <input type="text" class="btn  btn-outline-warning" name="fname" id="name-f" value="vegetarien">
          <input type="text" class="btn  btn-outline-warning" name="fname" id="name-f" value="vegetarien">
       </div>
       
        </div>
    
    </div>
    <div class="form-group">
      <button class="btn btn-primary float-end">Soumettre</button>
    </div>
  </form>
</div> #}

        {# {% for data in allData %}
            <li>{{ data.username }}</li>
        {% endfor %} #}

        {% block body %}{% endblock %}
    </body>
</html>
