{% extends 'base.html.twig' %}

{% block title %}Api index{% endblock %}

{% block body %}
    <h1>Gestion administrateur</h1>
    <h2>API User </h2>

     <a href="{{ path('app_admin_index')}}" class="btn btn-primary">Liste des utilisateurs</a>
     <a href="{{ path('app_api_user')}}" class="btn btn-warning">Api</a>



    <hr>
    <h4>Création de User en base de donnée</h4>

{# 
       <div  class="bg-light">
                <div >{{ apiuser.job }}</div>
                 <div>{{ apiuser.postalCode }}</div>
                 <div >{{ apiuser.diet }}</div>
                {# <td>{{ user.allergy }}</td> 
                 <div >{{ apiuser.description }}</div> 
                <div >{{ apiuser.centerOfInterest|join(', ') }}</div>
       </div> #}
 {% if form.vars.errors|length > 0 %}
        <div class="alert alert-danger">
            {# Afficher les messages d'erreur associés au champ "postalCode" #}
            {{ form_errors(form.postalCode) }}
        </div>
    {% endif %}
     
    <div  class="bg-light p-3">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary mt-2" type="submit">Enregistrer</button>
    {{ form_end(form) }}
    </div>

{% endblock %}