{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>Gestion administrateur</h1>

     <a href="{{ path('app_admin_reservation')}}" class="btn btn-primary">Liste des Résérvation</a>
     <a href="{{ path('app_api_user')}}" class="btn btn-warning">Api</a>
    <h4>Liste des utilisateurs </h4>
    <table class="table bg-light">
        <thead>
            <tr>
                <th>Email</th>
                <th>username</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.username }}</td>
                <td>
                       <a href="{{ path('app_admin_show', {'id': user.id}) }}" class="btn btn-primary fa fa-eye"></a>
                         <a href="{{ path('app_admin_edit', {'id': user.id}) }}" class="btn btn-primary fa fa-edit"></a> 
            {{ include('admin/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}