{% extends 'base.html.twig' %}

{% block title  %} Connexion {% endblock %}

{% block body %}
 <section style="margin-top: -200px;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <article id="card-connexion" class="card-connexion offset-6 ">
                        
                        <div class="card-liseret">
                            <img src="assets/img/formes/monstera-big-jaune-horizontal.svg" alt="" class="z-n1 position-absolute monstera-ptn">
                            <img src="assets/img/formes/leaf.svg" alt="" class="z-n1 position-absolute leaf-ptn">
                            <div>
                                <div class="input-mt">
                                    <h1 class="titre-connexion">se&nbsp;connecter</h1>
                                    {{ form_errors(Form)}}
                                    {{ form_start(Form)}}
                                    {# <label for="username"></label>
                                    <input type="text" value="" placeholder="Votre adresse mail" id="username"
                                        class="bouton-small-transparent size-connexion"> #}
                                    
                                    {{ form_widget(Form.email, {'attr': {'class': 'bouton-small-transparent size-connexion mb-3'}}) }}
                                    {# <label for="password"></label>
                                    <input type="password" value="" placeholder="Mot de passe" id="password"
                                        class="bouton-small-transparent size-connexion mt-4"> #}
                                    
                                    {{ form_widget(Form.password, {'attr': {'class': 'bouton-small-transparent size-connexion'}}) }}
                                    <a href="#" class="MDP-center psmallest mt-4">
                                        Mot de passe oublié ?
                                    </a>
                                    {{ form_widget(Form.submit, {'attr': {'class': 'bouton-small-transparent size-bouton mt-5'}}) }}
                                    {{ form_end(Form)}}
                                </div>
                                <div>
                                    {# <a href="#" class="bouton-small-transparent size-bouton mt-5">
                                        JE ME CONNECTE
                                    </a> #}
                                    <a href="#" class="bouton-small-transparent size-bouton mt-4 mb-3">
                                        <img src="./assets/img/logo/logo-google.svg" alt="" class="logo-google">
                                        JE ME CONNECTE AVEC GOOGLE
                                    </a>
                                    <a href="{{ path('app_register') }}" class="MDP-center mt-4 psmallest">
                                        S'inscrire
                                    </a>
                                </div>
                            </div>      
                        </div>
                            <a href="#" class="comment" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                <img src="assets/img/icones/emojidoigt.svg" alt="">Comment ça marche ?
                            </a>
                    </article>
                </div>
            </div>
        </div>
    </section>
    

 



<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <div class="d-flex justify-content-end">
                        <img src="./assets/img/icones/croix/croix-fleur-orange-big.svg" alt="" class="cross-popup"  data-bs-dismiss="modal" aria-label="Close">
                    </div>
                    <div id="commentcamarche" class="row text-center d-flex flex-wrap">
                        <h1 class="titre mt-5 mb-5">comment ça marche ?</h1>
                        <article class="cardinscris col-3">
                            <p class="numeros numero1">1</p>
                            <img src="/assets/img/formes/monstera-small-menthe-vertical.svg" alt="" class="z-n1 position-absolute feuille-ptn1">
                            <div class="border1">
                                <img src="/assets/img/icones/legumes/carotte.svg" alt="" class="mt-4 mb-4">
                                <h2 class="mt-3">je m'inscris</h2>
                                <p class="psmallest mt-4 mb-3">Crée toi un compte chez nous pour suivre tes demandes et réservations !</p>
                            </div>
                        </article>
                        <article class=" cardinscris col-3 margin2 align-items-center">
                            <p class="numeros numero2">2</p>
                            <img src="/assets/img/formes/feuille-big-framboise-envers.svg" alt="" class="z-n1 position-absolute feuille-ptn2 feuille-taille">
                            <div class=" border2">
                                <img src="/assets/img/icones/legumes/radis.svg" alt="" class="mt-4 mb-5">
                                <h2 class="">je&nbsp;me&nbsp;décris</h2>
                                <p class="psmallest mt-4 mb-3">Remplis ton profil afin que les autres puissent savoir qui tu es pour apâter le chalan</p>
                            </div>
                        </article>
                        <article class="cardinscris col-3 margin2 align-items-center">
                            <p class="numeros numero3">3</p>
                            <img src="/assets/img/formes/marguerite-orange.svg" alt="" class="z-n1 position-absolute feuille-ptn3">
                            <div class="border3">
                                <img src="/assets/img/icones/legumes/pois.svg" alt="" class="mt-4 mb-5">
                                <h2 class=" mb-4">je choisis</h2>
                                <p class="psmallest mb-3">Choisis avec qui tu veux manger en fonction de ce qu’ils ont remplis dans leur profil</p>
                            </div>
                        </article>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</div>




{# {{ form_errors(Form)}}
    {{ form_start(Form)}}
    {{ form_label(Form.email) }}
    {{ form_widget(Form.email, {'attr': {'class': 'bouton-small-transparent size-connexion'}}) }}
    {{ form_label(Form.password) }}
    {{ form_widget(Form.password, {'attr': {'class': 'bouton-small-transparent size-connexion'}}) }}
    {{ form_widget(Form.submit) }}
    {{ form_end(Form)}} #}

{% endblock %}

 
