{% extends 'base.html.twig' %}

{% block title  %} Login User {% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{asset('./assets/css/auth.css')}}">{% endblock %}

{% block body %}

    {{ include('_header.html.twig') }}
   <div class="container  " >

       
            <div class="row">
               
                <div class="col-12 col-md-6">
                 <h1 class="titre-connexion"  >
                    se&nbsp;connecter</h1>
                   
                    <article id="card-connexion" class="card-connexion offset-6 ">
                    
                        
                        <div class="card-liseret">

                            <div>
                                {{ form_errors(Form)}}
                                   {{ form_start(Form)}}
                                <div class="input-mt">
                                  {{ form_label(Form.email) }}
                                {{ form_widget(Form.email, {'attr': {'class': 'bouton-small-transparent size-connexion'}}) }}

                                  {{ form_label(Form.password) }}
                                  {{ form_widget(Form.password, {'attr': {'class': 'bouton-small-transparent size-connexion'}}) }}

                                </div>
                                <div>
                                <div class="d-flex row mt-5 p-5"  style="padding:10px ">
                                {{ form_widget(Form.submit) }}
                                   
                                    <a href="{{ path('app_register') }}" class="MDP-center mt-4 psmallest">
                                        S'inscrire
                                    </a>
                                <a href="{{ path('app_home') }}" class="MDP-center mt-4 psmallest">
                                    Retour a l'accueil
                                    </a>
                                </div>
                                </div>
                            </div>
                        </div>  
                    </article>

                </div>
             </div>
        </div>

        {{ form_end(Form)}}
        

        

{% endblock %}

{% block javascript %}
{% endblock %}
