{% extends 'base.html.twig' %}

{% block body %}
<body class="example-wrapper">
    {% if alert|length >1  %}
        <div class='alert alert-danger'>{{ alert }}</div>
    {% endif  %}

    {{ form_errors(FormRegister)}}
        {{ form_start(FormRegister)}}
            {{ form_row(FormRegister.email) }}
            {{ form_row(FormRegister.password) }}
            {# <label>re-password</label>
            <input type='password' /> #}
            {{ form_widget(FormRegister.submit) }}
        {{ form_end(FormRegister)}}
</body>
{% endblock %}

{% block javascript %}
{% endblock %}
