{% extends 'base.html.twig' %}
{% block title  %} Inscription {% endblock %}

{% block body %}

    {% if alert|length >1  %}
        <div>{{ alert }}</div>
    {% endif  %}


    {{ form_errors(FormRegister)}}
    {{ form_start(FormRegister)}}
        {{ form_label(FormRegister.email) }}
        {{ form_widget(FormRegister.email, {'attr': {'class': 'bouton-small-transparent size-connexion'}}) }}
        {{ form_row(FormRegister.password, {'attr': {'class': 'bouton-small-transparent size-connexion mt-2'}}) }}
        {{ form_widget(FormRegister.terms) }}
        {{ form_label(FormRegister.terms) }}
        {{ form_widget(FormRegister.submit) }}
    {{ form_end(FormRegister)}}

{% endblock %}
