{% extends 'base.html.twig' %}

{% block title  %}
	Green Meet
{% endblock %}


{% block body %}
    
    {# {{ include('_header.html.twig') }} #}

<main>
        <div id="mur" class="container tout">

            <div class="row">
                <div class="col-12 col-md-3 filtres">
                    <div class="conteneur">
                        <article class="lisere">

                            {# PANNEAU DES FILTRES A GAUCHE #}
                            <div class="row">
                                <div class="col">
                                    <h2>filtres</h2>
                                    <form action="#" method="post">
                                        <div class="form-filtres">

                                            <!-- Filtres composition -->
                                            <div class="d-flex">
                                                <h4 class="me-auto">Composition </h4><img src="Assets/ICONES/add/-.svg"
                                                    alt="">
                                            </div>
                                            <div class="d-flex">
                                                <label class="form-check-label me-auto" for="flexCheckDefault">
                                                    <p class="tag">Groupe</p>
                                                </label>
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="flexCheckDefault">
                                            </div>
                                        
                                            <!-- Filtres alimentation -->
                                            <div class="d-flex">
                                                <h4 class="me-auto">Alimentation </h4><img src="Assets/ICONES/add/-.svg" alt="">
                                            </div>
                                            <div class="d-flex">
                                                <label class="form-check-label me-auto" for="flexCheckDefault">
                                                    <p class="tag">Végan</p>
                                                </label>
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            </div>

                                            <!-- Filtres centres intérêt -->
                                            <div class="d-flex">
                                                <h4 class="me-auto">Centres d'intérêt </h4><img src="Assets/ICONES/add/-.svg"
                                                    alt="">
                                            </div>
                                            {% for interest in interests %}
                                                <div class="d-flex">
                                                    <label class="form-check-label me-auto" for="checkbox_{{ interest }}">
                                                        <p class="tag">{{ interest }}</p>
                                                    </label>
                                                    {# <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> #}
                                                    <input type="checkbox" id="checkbox_{{ interest }}" name="checkbox_{{ interest }}" data-filter="{{interest}}" class="form-check-input filter-checkbox">
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>

                {# ZONE D'AFFICHAGE DES CANDIDATS #}
                <div class="col-md-9">
                    <div id="users_list">

                    </div>
                </div>
            </div>
        </div>
</main>

    
        
        
   



{% endblock %}

{% block javascripts %}
    <script src="{{ asset('./assets/js/createGroup.js')}}"></script> 
{% endblock %}