{% extends 'base.html.twig' %}

{% block title  %}
	Reservation
{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('./assets/css/reservation.css')}}">
<link rel="stylesheet" href="{{asset('./assets/css/mur.css')}}">
{% endblock %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="col-6">
			<form action="">
				<fieldset>
					<legend>centre d'intérêts</legend>
					{% for formData in dataFormCheckbox %}
						<div>
							<input name="{{ formData }}" type="checkbox" id="checkbox_{{ formData }}" name="checkbox_{{ formData }}" data-filter="{{formData}}" class="filter-checkbox">
							<label for="checkbox_{{ formData }}">{{ formData }}</label>
						</div>
					{% endfor %}
				</fieldset>
				<button>recherche</button>
			</form>
		</div>
		<div class="col-6">
			<div id="users_list"></div>		
		</div>
	</div>
</div>
	

{% endblock %}

{% block javascripts %}<script src="{{ asset('./assets/js/createGroup.js')}}"></script> {% endblock %}