{% extends 'base.html.twig' %}

{% block title  %}
	Reservation
{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('./assets/css/reservation.css')}}">{% endblock %}

{% block body %}
	<form action="{{ path('app_select_group') }}" action="POST">
		<fieldset>
			<legend>centre d'intérêts</legend>
			{% for formData in dataFormCheckbox %}
				<div>
					<input name="{{ formData }}" type="checkbox" id="checkbox_{{ formData }}" name="checkbox_{{ formData }}" class="filter-checkbox">
					<label for="checkbox_{{ formData }}">{{ formData }}</label>
				</div>
			{% endfor %}
		</fieldset>
		<input type='submit'/>
	</form>
		<div id="checkbox_users"></div>
			<div class='users'>
			{% for user in allUsers %}
				<div class='user'>
					<figure>
						<img src="{{ user.image }}" alt=""/>
					</figure>
					<article>
						<span>{{ user.username }}</span>
						<span>{{ user.age }}</span>
						<span>{{ user.city }}</span>
					</article>
				</div>
			{% endfor %}
			</div>
{% endblock %}

{% block javascripts %}<script src="{{ asset('./assets/js/createGroup.js')}}"></script> {% endblock %}