{% extends 'base.html.twig' %}

{% block title  %}
	Green Meet
{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('./assets/css/mur.css')}}">
{% endblock %}

{% block body %}

 {{ include('_header.html.twig') }}
    <!-- Modal resa-->
    <div class="modal fade"  id="modal-date" tabindex="-1" aria-labelledby="ModalDate" aria-hidden="true">
        <div class="modal-dialog" >
            <div class="modal-content justify-content-center d-flex " style="width:1000px">

                <div class="modal-header mx-auto position-relative">
                    <h1 class="modal-title fs-5" id="ModalResaLabel">Choisi ta date de résérvation</h1>
                    
                    <!-- Je sais pas comment enlever la croix que bootstrap a mise -->
                    <button type="button" class="btn-close position-absolute croix-close-modal-resa"
                        data-bs-dismiss="modal" aria-label="Close"><img
                            src="../assets/img/icones/croix/croix-fleur-orange-small.svg" alt=""></button>
                </div>

              <div id="reserver" class="container">
            <div class="row position-relative">
{# {{ form_errors(DateRegister)}}
        {{ form_start(DateRegister)}} #}
                <!-- calendrier -->
                <section class="col col-md-5 z-2">
                {# {{ form_row(DateRegister.Date) }} #}
                    {# <div class="position-relative">
                        <span class="position-absolute numeros numero-un">1</span>
                        <div class="position-absolute title-screen">
                            <h1>réserver</h1>
                        </div>
                        <form action="#" method="post">
                            <div class="fond-calendar">
                                <div class="lisere-calendar">
                                    <div class="calendar d-flex flex-column">
                                        <div class="header-calendar">
                                            <div class="titre">
                                                <h2>Choisis&nbsp;ton&nbsp;jour</h2>
                                            </div>
                                            <div class="d-flex justify-content-between  mt-5 mb-2">
                                                <div class="month">
                                                    <p class="pbold">Juillet 2023</p>
                                                </div>
                                                <div>
                                                    <img class="me-5" src="../assets/img/icones/chevrons/precedent.svg" alt="">
                                                    <img src="../assets/img/icones/chevrons/suivant.svg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-wrap liste-dates">
                                            <div>
                                                <p class="day">Lu</p>
                                            </div>
                                            <div>
                                                <p class="day">Ma</p>
                                            </div>
                                            <div>
                                                <p class="day">Me</p>
                                            </div>
                                            <div>
                                                <p class="day">Je</p>
                                            </div>
                                            <div>
                                                <p class="day">Ve</p>
                                            </div>
                                            <div>
                                                <p class="day">Sa</p>
                                            </div>
                                            <div>
                                                <p class="day">Di</p>
                                            </div>

                                            <div class="grille d-flex flex-wrap">
                                                <input type="radio" class="btn-check" name="2023-07-01"
                                                    autocomplete="off">
                                                <label class="btn btn-secondary dates" for="option1">1</label>

                                                <input type="radio" class="btn-check" name="2023-07-02"
                                                    autocomplete="off">
                                                <label class="btn btn-secondary dates" for="option1">2</label>

                                                <input type="radio" class="btn-check" name="2023-07-03"
                                                    autocomplete="off">
                                                <label class="btn btn-secondary dates" for="option1">3</label>

                                                <input type="radio" class="btn-check" name="2023-07-04"
                                                    autocomplete="off">
                                                <label class="btn btn-secondary dates" for="option1">4</label>

                                                <input type="radio" class="btn-check" name="2023-07-05"
                                                    autocomplete="off">
                                                <label class="btn btn-secondary dates" for="option1">5</label>

                                                <input type="radio" class="btn-check" name="2023-07-06"
                                                    autocomplete="off">
                                                <label class="btn btn-secondary dates" for="option1">6</label>

                                                <input type="radio" class="btn-check" name="2023-07-07"
                                                    autocomplete="off">
                                                <label class="btn btn-secondary dates border-right"
                                                    for="option1">7</label>

                                                <input type="radio" class="btn-check" name="2023-07-08"
                                                    autocomplete="off">
                                                <label class="btn btn-secondary dates" for="option1">8</label>

                                                <input type="radio" class="btn-check" name="2023-07-09"
                                                    autocomplete="off">
                                                <label class="btn btn-secondary dates" for="option1">9</label>

                                                <input type="radio" class="btn-check" name="2023-07-10"
                                                    autocomplete="off">
                                                <label class="btn btn-secondary dates" for="option1">10</label>

                                                <input type="radio" class="btn-check" name="2023-07-11"
                                                    autocomplete="off">
                                                <label class="btn btn-secondary dates" for="option1">11</label>

                                                <input type="radio" class="btn-check" name="2023-07-12"
                                                    autocomplete="off">
                                                <label class="btn btn-secondary dates" for="option1">12</label>

                                                <input type="radio" class="btn-check" name="2023-07-13"
                                                    autocomplete="off">
                                                <label class="btn btn-secondary dates" for="option1">13</label>

                                                <input type="radio" class="btn-check" name="2023-07-14"
                                                    autocomplete="off">
                                                <label class="btn btn-secondary dates border-right"
                                                    for="option1">14</label>

                                                <input type="radio" class="btn-check" name="2023-07-15"
                                                    autocomplete="off">
                                                <label class="btn btn-secondary dates" for="option1">15</label>

                                                <input type="radio" class="btn-check" name="2023-07-16"
                                                    autocomplete="off">
                                                <label class="btn btn-secondary dates" for="option1">16</label>

                                                <input type="radio" class="btn-check" name="2023-07-17"
                                                    autocomplete="off">
                                                <label class="btn btn-secondary dates" for="option1">17</label>

                                                <input type="radio" class="btn-check" name="2023-07-18"
                                                    autocomplete="off">
                                                <label class="btn btn-secondary dates" for="option1">18</label>

                                                <input type="radio" class="btn-check" name="2023-07-19"
                                                    autocomplete="off">
                                                <label class="btn btn-secondary dates" for="option1">19</label>

                                                <input type="radio" class="btn-check" name="2023-07-20"
                                                    autocomplete="off">
                                                <label class="btn btn-secondary dates" for="option1">20</label>

                                                <input type="radio" class="btn-check" name="2023-07-21"
                                                    autocomplete="off">
                                                <label class="btn btn-secondary dates border-right"
                                                    for="option1">21</label>

                                                <input type="radio" class="btn-check" name="2023-07-22"
                                                    autocomplete="off">
                                                <label class="btn btn-secondary dates" for="option1">22</label>

                                                <input type="radio" class="btn-check" name="2023-07-23"
                                                    autocomplete="off">
                                                <label class="btn btn-secondary dates" for="option1">23</label>

                                                <input type="radio" class="btn-check" name="2023-07-24"
                                                    autocomplete="off">
                                                <label class="btn btn-secondary dates" for="option1">24</label>

                                                <input type="radio" class="btn-check" name="2023-07-25"
                                                    autocomplete="off">
                                                <label class="btn btn-secondary dates" for="option1">25</label>

                                                <input type="radio" class="btn-check" name="2023-07-26"
                                                    autocomplete="off">
                                                <label class="btn btn-secondary dates" for="option1">26</label>

                                                <input type="radio" class="btn-check" name="2023-07-27"
                                                    autocomplete="off">
                                                <label class="btn btn-secondary dates" for="option1">27</label>

                                                <input type="radio" class="btn-check" name="2023-07-28"
                                                    autocomplete="off">
                                                <label class="btn btn-secondary dates border-right"
                                                    for="option1">28</label>

                                                <input type="radio" class="btn-check" name="2023-07-29"
                                                    autocomplete="off">
                                                <label class="btn btn-secondary dates border-bottom"
                                                    for="option1">29</label>

                                                <input type="radio" class="btn-check" name="2023-07-30"
                                                    autocomplete="off">
                                                <label class="btn btn-secondary dates border-bottom"
                                                    for="option1">30</label>

                                                <input type="radio" class="btn-check" name="2023-07-30"
                                                    autocomplete="off">
                                                <label class="btn btn-secondary dates border-bottom"
                                                    for="option1">31</label>

                                                <input type="radio" class="btn-check" name="2023-08-01"
                                                    autocomplete="off" disabled>
                                                <label class="btn btn-secondary dates border-bottom"
                                                    for="option1">1</label>

                                                <input type="radio" class="btn-check" name="2023-08-02"
                                                    autocomplete="off" disabled>
                                                <label class="btn btn-secondary dates border-bottom"
                                                    for="option1">2</label>

                                                <input type="radio" class="btn-check" name="2023-08-03"
                                                    autocomplete="off" disabled>
                                                <label class="btn btn-secondary dates border-bottom"
                                                    for="option1">3</label>

                                                <input type="radio" class="btn-check" name="2023-08-04"
                                                    autocomplete="off" disabled>
                                                <label class="btn btn-secondary dates border-right border-bottom"
                                                    for="option1">4</label>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div> #}
                </section>

                <section id="horaires" class="col offset-2 col-md-5 position-relative z-2">
                {# {{ form_row(DateRegister.Heure) }} #}

                    {# <span class="position-absolute numeros numero-deux">2</span>
                    <div class="fond-horaires">
                        <div class="lisere-horaires">
                            <div class="d-flex flex-column">
                                <div class="resume">
                                    <span>
                                        <h2 class="title-card">Choisis ton heure</h2>
                                    </span>
                                    <div class="title-hour">
                                        <h3>Horaires disponibles</h3>
                                    </div>
                                    <div>
                                        <p>Pour le 18/07/2023<br>Table de 3 personnes</p>
                                    </div>
                                </div>
                                <div class="horaire">
                                    <div id="midi">
                                        <div id="text">
                                            <p class="pbig">Midi</p>
                                        </div>
                                        <div id="horaires">
                                            <div class="liste-heures d-flex">
                                                <p class="tag-horaire-vert me-2">12h00</p>
                                                <p class="tag-horaire-vert me-2">13h00</p>
                                                <p class="tag-horaire-rose">Voir +</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="soir">
                                        <div id="text">
                                            <p class="pbig">Midi</p>
                                        </div>
                                        <div id="horaires">
                                            <div class="liste-heures d-flex">
                                                <p class="tag-horaire-vert me-2">19h00</p>
                                                <p class="tag-horaire-vert me-2">20h00</p>
                                                <p class="tag-horaire-rose">Voir +</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <a href="#" class="bouton-small btn-valider d-flex align-items-center">valider</a>
                    </div> #}
                </section>

        {# {{ form_end(DateRegister)}} #}


            </div>
        </div>

        </div>
        </div>
        </div> 
        </div>
        </div>


            </div>

        </div>

    </div>
   <div id="mur" class="container tout mt-5">

                <div class="row">
                    <div class="col-12 col-md-3 conteneur filtres">
                        <article class="lisere">
                            <div class="row">
                                <div class="col">
                                    <h2>filtres</h2>
                                    <form action="#" method="post">
                                        <div class="form-filtres">
                                            <div class="d-flex"> 
											<fieldset>
                                            {# Matth retour des centres d'interest de l'user CSS modifier #}
											<h4 class="me-auto"> Mes choix </h4>
                                            {% for interest in userFromBdd.centerOfInterest %}
												<div>
                                                  <p class="badge text-bg-success">
                                                   {{ interest }}  
                                                  </p>               
                                                </div>
                                            {# Fin du retour des centres d'interest de l'user  #}

											{% endfor %}
											<h4 class="me-auto">centre d'intérêts -</h4>
											{% for formData in dataFormCheckbox %}
												<div>
													{# <input class="form-check-input"  name="{{ formData }}" type="checkbox" id="checkbox_{{ formData }}" name="checkbox_{{ formData }}" data-filter="{{formData}}" class="filter-checkbox">
													<label for="checkbox_{{ formData }}  class="form-check-label me-auto"">{{ formData }}</label> #}
                                                    <input  name="{{ formData }}" type="checkbox" id="checkbox_{{ formData }}" name="checkbox_{{ formData }}" data-filter="{{formData}}" class="filter-checkbox">
							                            <label  class="form-check-label me-auto label_checkbox" for="checkbox_{{ formData }}">{{ formData }}</label>
												</div>
											{% endfor %}
											</fieldset>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                            
                                   <a  class="ms-2 bouton-small-transparent reduire p-2 " type="button" data-bs-toggle="modal" data-bs-target="#modal-date">reserver</a>
  
                            </div>
                        </article>
                    </div>

                    <div class="col-md-9 defile-card d-flex row g-0">
                    <div class="container ms-5 ">
                    
                            <h1 class="somanyfriends ms-5 mt-5">so many friends...</h1>
                      
                       <div class="container">
                                  {# <button type='submit' id="addGroup">add group</button> #}

                         <ul class="d-flex row" id="users_list">

                         </ul>
                        </div>    


                        </div>
                        </div>

                    </div>
                </div> 
            </div>


{% endblock %}

{% block javascripts %}<script src="{{ asset('./assets/js/createGroup.js')}}"></script> {% endblock %}