{% extends 'base.html.twig' %}

{% block title  %}
	Reservation
{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('./assets/css/reservation.css')}}">
<link rel="stylesheet" href="{{asset('./assets/css/mur.css')}}">
{% endblock %}

{% block body %}
   <div id="mur" class="container tout">

                <div class="row">
                    <div class="col-12 col-md-3 conteneur filtres">
                        <article class="lisere">
                            <div class="row">
                                <div class="col">
                                    <h2>filtres</h2>
                                    <form action="#" method="post">
                                        <div class="form-filtres">
                                            <div class="d-flex">
											<fieldset>
											<h4 class="me-auto">centre d'intérêts -</h4>
											{% for formData in dataFormCheckbox %}
												<div>
													<input class="form-check-input"  name="{{ formData }}" type="checkbox" id="checkbox_{{ formData }}" name="checkbox_{{ formData }}" data-filter="{{formData}}" class="filter-checkbox">
													<label for="checkbox_{{ formData }}  class="form-check-label me-auto"">{{ formData }}</label>
												</div>
											{% endfor %}
											</fieldset>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="col-md-9 defile-card d-flex flex-wrap row g-0">
                        <div class="gauche offset-2 col-12 col-md-4">
															{# <div id="users_list"></div>		 #}

                           

                        </div>

                        {# <div class="droite  offset-2 col-12 col-md-4 position-relative">
                            <h1 class="somanyfriends">so many friends...</h1>

                            <article class="card-user card-small">
                                <div class="entiere">
                                    <div>
                                        <img class="img-user"
                                            src="Assets/IMG/Comment-savoir-si-je-susi-avec-la-bonne-personne.png"
                                            alt="">
                                    </div>

                                    <div class="description">

                                        <!-- LIGNE NOM ET DRAPEAUX -->
                                        <div class="row">
                                            <div class="col-8">
                                                <p class="pbold tag">Manu <img
                                                        src="Assets/ICONES/zodiac/zodiac-capricorne.svg" alt=""></p>
                                            </div>
                                            <div class="col-4 d-flex justify-content-end">
                                                <p class="drapeau tag me-3">🇫🇷</p>
                                                <p class="drapeau tag">🇪🇸</p>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-8 infos-contact">
                                                <p class="tag mt-3"><img
                                                        src="Assets/ICONES/infos-contact/localisation.svg" alt=""> Paris
                                                </p>
                                                <p class="tag mt-2"><img
                                                        src="Assets/ICONES/infos-contact/anniversaire.svg" alt=""> 33
                                                    ans</p>
                                                <p class="tag mt-2"><img
                                                        src="Assets/ICONES/selection/selection-genre-off.svg" alt="">
                                                    Homme</p>
                                            </div>

                                            <div class="col-4 tag-prefs">
                                                <div class="tag-menthe d-flex flex-column align-items-end mt-3">
                                                    <p class="tag-menthe-small psmall tag">Curieux</p>
                                                    <p class="tag-menthe-small psmall tag">Groupe</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col jm">

                                                <p class="pbold mt-4">J'aime...</p>
                                                <div class="col d-flex align-items-start">
                                                    <p class="tag-jaune-small psmall tag me-auto">Animaux</p>
                                                    <p class="tag-jaune-small psmall tag me-auto">Art</p>
                                                    <p class="tag-jaune-small psmall tag me-auto">Danse</p>
                                                    <p class="tag-jaune-small psmall tag">Activités sociales</p>
                                                </div>

                                            </div>

                                        </div>

                                        <p class="col-12 citation">« La vie ça va, ça vient, tant qu’on mange des bonnes
                                            choses, tout va bien. »</p>

                                        <div class="row">

                                            <div class="col jerfuse">

                                                <p class="pbold mt-4">Je refuse...</p>
                                                <div class="col d-flex align-items-start">
                                                    <p class="tag-jaune-small psmall tag me-3">Racistes</p>
                                                    <p class="tag-jaune-small psmall tag me-3">Vegans</p>
                                                    <p class="tag-jaune-small psmall tag me-3">Jeux d'argent</p>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="col-12 boutons d-flex mt-5">
                                            <img class="me-auto a-cacher" src="Assets/ICONES/zoom/zoom-retrecir.svg"
                                                alt="">
                                            <img class="me-auto a-montrer" src="Assets/ICONES/zoom/zoom-agrandir.svg"
                                                alt="">
                                            <a href="#" class="bouton-small-transparent reduire">gimme this friend</a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div> #}

                    </div>
                </div> 
            </div>
<div class="container">
	<div class="row">
		<div class="col-6">
			{# <form action="">
				<fieldset>
					<legend>centre d'intérêts</legend>
					{% for formData in dataFormCheckbox %}
						<div>
							<input name="{{ formData }}" type="checkbox" id="checkbox_{{ formData }}" name="checkbox_{{ formData }}" data-filter="{{formData}}" class="filter-checkbox">
							<label for="checkbox_{{ formData }}">{{ formData }}</label>
						</div>
					{% endfor %}
				</fieldset>
				<button>recherche</button>
			</form> #}
		</div>
		{# <div class="col-6">
			<div id="users_list"></div>		
		</div> #}
	</div>
</div>
	

{% endblock %}

{% block javascripts %}<script src="{{ asset('./assets/js/createGroup.js')}}"></script> {% endblock %}