{% extends 'base.html.twig' %}

{% block title  %}
	Reservation
{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('./assets/css/reservation.css')}}">
<link rel="stylesheet" href="{{asset('./assets/css/global.css')}}">
{% endblock %}


{% block body %}
    


		        {{ include('_header.html.twig') }}

 <main style="margin-bottom: 150px;">

        <div class="container"> <!-- MARGES -->
            <div class=" d-flex justify-content-between align-items-center titreresa"> <!-- TITRE + BOUTON -->
                <h1> Mes réservations </h1>
                <a class="bouton-small d-flex boutonresa" href="{{ path('app_select_group') }}">GIMME A FRIEND</a>
            </div>


            <div class="row"> <!-- 12 COLONNES AU MILIEUUUU -->

             
        {% for groups in notifications %}
                <div class="col-2  ticket" onclick="toggleDiv(this)"> <!-- CARD RESA PETITE 03-->

                    <div class="mesresassmall mt-5 position-relative d-flex flex-column justify-content-between">

                        <div class="d-flex justify-content-end">
                            <img class="statut" src="../assets/img/icones/curseur/curseur-big-enattente.svg" alt="">
                        </div>


                        <div class="datebig">
                            <p>{{ groups.createdAt|date('Y-m-d') }}</p>
                            {# <p>{{ groups.createdAt|date('Y-m-d H:i:s') }}</p> #}
                        </div>

                    </div>
                 </div>

                 <div class="col-6 myDiv"  style="display:none;"> <!-- CARD RESA BIG -->
                    <div class="mesresasbig mt-5 row g-0">
                        <div class="offset-1 col-10"> <!-- INTERIEUR CARD RESA BIG -->
                            <div class="d-flex justify-content-between align-items-center mb-5"> <!-- PARTIE 01 -->
                                <div class="d-flex justify-content-between align-items-baseline">
                                    <p class="datesmall me-3">{{ groups.createdAt|date('Y-m-d') }}</p>
                                    {# <p class="mesresasheure me-5">{{ notifications.createdAt|date('H:i:s') }}</p> #}
                                    <p class="statutbig">{{ groups.status }}</p>
                                </div>
                                <div class="close">
                                    <img src="../assets/img/icones/croix/croix-noire-big.svg" alt="">
                                </div>
                            </div>

                            <div class="d-flex justify-content-between align-items-center quimange mb-5">
                                <!-- PARTIE 02 -->
                                <div class="d-flex">
                                    <div class="me-2">
                                        <h4>Qui mange ?</h4>
                                        <p class="psmallest">{{ groups.guests|length }} personnes</p>
                                    </div>

                                    <div>
                                        {# <img class="m-2" src="../assets/img/Rectangle-188.jpg" alt="">
                                        <img class="m-2" src="../assets/img/Rectangle-188.jpg" alt="">
                                        <img src="../assets/img/Rectangle-188.jpg" alt=""> #}
                                        {% for guest in groups.guests %}
                                        <p>{{ guest.username}}</p>
                                        {% endfor %}
                                    </div>
                                </div>

                                <a href="#"> <img class="add" src="../assets/img/icones/add/+.svg" alt=""></a>
                            </div>
                            <!-- PARTIE 03 -->
                           <div class="d-flex justify-content-between align-items-center"> 
                              <div class="d-flex invisible">
                                     <div class="me-5 commentaires ">
                                        <a href="">2 commentaires</a>
                                        <p class="com"> <img src="../assets/img/icones/commentaire/foret-com.svg" alt="">
                                            Commenter
                                        </p>
                                    </div>
                                </div> 

                                <div class="d-flex align-items-start flex-column mesresasboutons">
                                    <a class="bouton-smallest-transparent d-flex mb-2" href="#">Confirmer</a>
                                    <a class="bouton-smallest-transparent d-flex" href="#">Annuler</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                    {% endfor %}

          
            </div>




        </div> <!-- FIN DES MARGES -->


    </main>
    
		       
    </div>
{% endblock %}

{% block javascripts %}<script src="{{ asset('./assets/js/resa.js')}}"></script> {% endblock %}
