{% extends 'base.html.twig' %}

{% block title  %}
	Reservation
{% endblock %}

{% block body %}
    {{ include('_header.html.twig') }}
        <ul>
            {% for group in groups %}
                <li>
                    <p>{{ group.createdAt|date('Y-m-d') }}</p>
                    <p>{{ group.status }}</p>
                    <p>{{ group.guests|length }} personnes</p>
                    <ul>
                        {% for guest in group.guests %}
                            <li>{{ guest.username}}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
{% endblock %}

{% block javascripts %}<script src="{{ asset('./assets/js/resa.js')}}"></script> {% endblock %}
