<ul class="row">
    <button type='submit' id="addGroup">add group</button>
      {% for user in users %}
  <!-- User Card -->
      <li class="col-2" style="margin-right : 135px;list-style-type: none;">

     <div class="card mt-5 mb-5 card-user" style="width: 15rem; ">
        <img class="card-img-top" src="{{ user.image }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ user.username }}</h5>
            <!-- Display user's language flags -->
            {% for languageCode in user.language %}
                <img src="https://www.countryflagicons.com/SHINY/32/{{ languageCode }}.png" alt="{{ languageCode }}">
            {% endfor %}

            <div class="row">
                <div class="col-8 infos-contact">
                    <p class="tag mt-3"><i class="fa-solid fa-location-dot"></i> {{ user.city }}</p>
                    <p class="tag mt-2"><i class="fa-solid fa-cake-candles"></i> {{ user.age }}</p>
                    <p class="tag mt-2"><i class="fa-solid fa-transgender"></i> {{ user.gender }}</p>
                </div>

                <div class="col-4 tag-prefs">
                    <div class="tag-menthe d-flex flex-column align-items-end mt-3">
                        <p class="tag-menthe-small psmall tag">{{ user.centerOfInterestPerso }}</p>
                    </div>
                </div>
            </div>

            <!-- Accordion -->
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                 <h4>  +  DE DETAILS </h4> 
                        </button>
                    </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                                  <div class="d-flex row">
                                <p class="pbold mt-4">J'aime...</p> <br>
                                <div class="col d-flex align-items-start flex-wrap">
                                    <!-- Display user's interests -->
                                    {% for interest in user.centerOfInterest %}
                                        <p class="border ms-3 p-3 border-danger">{{ interest }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            <p class="card-text">
                                <p class="col-12 citation">« {{ user.description }} »</p>
                            </p>
                            <p class="pbold mt-4">Je refuse...</p>
                            <div class="col d-flex align-items-start flex-wrap">
                                <p class="tag-jaune-small psmall   mb-1.25">Racistes</p>
                                <p class="tag-jaune-small psmall    mb-1.25">Vegans</p>
                                <p class="tag-jaune-small psmall  ">Jeux d'argent</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Accordion -->
            <a href="#" class="ms-2 bouton-small-transparent reduire">gimme this friend</a>
        </div>
      </div>
    </li>
    <!-- End User Card -->
     {% endfor %}
 
</ul>
  