
    <div class="d-flex justify-content-end">
        <div class="col-left">
            {% for user in users %}
                {% if loop.index is odd %}
                    {% include 'Group/userCard.html.twig' %}
                {% endif %}
            {% endfor %}
        </div>
        <div>
            <h1 class="somanyfriends">so many<br>friends...</h1>
            {% for user in users %}
                {% if loop.index is even %}
                    {% include 'Group/userCard.html.twig' %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{# 
    <ul>
        {% for user in users %}
            <li>
                <p>{{ user.username }}</p>
                <img src="{{ user.image }}">
                <ul>
                    {% for languageCode in user.language %}
                        <li><img src="https://www.countryflagicons.com/SHINY/32/{{ languageCode }}.png" alt="{{ languageCode }}"></li>
                    {% endfor %}
                </ul>
                <p> {{ user.city }} - {{ user.age }} - {{ user.gender }} </p>
                <p>{{ user.centerOfInterestPerso }}</p>
                <ul>
                    {% for interest in user.centerOfInterest %}
                        <li>{{ interest }}</li>
                    {% endfor %}
                </ul>
                <p>« {{ user.description }} »</p>
            </li>
        {% endfor %}
    </ul> #}

