<!-- header nav bar -->
<header>
    <div>
        <figure id="burger">
            <img src="{{ asset('./assets/img/icones/menuburger/menu-burger-dark.svg')}}" alt="burgerIcon">
        </figure>
        <figure id="logo">
            <a href="{{ path('app_home') }}"><img src="{{ asset('./assets/img/logo/abattoir-vegetal-logo-big-dark.svg')}}" alt="title logo"/></a>
        </figure>
        <nav>
            <div class='logoNavBox'>
                 <a href="{{ path('app_user_profil_success') }}"><img class="logoNav"  src="{{ asset('./assets/img/icones/profil/profil-small-light.svg') }}" alt="logo" /></a>
            </div>
            <div id='notif' class='logoNavBox'>
                <img class="logoNav"  src="{{ asset('./assets/img/icones/notifications/notification-small-light.svg')}}" alt="logo" />
            </div>
            <div class='logoNavBox'>
                <img class="logoNav"  src="{{ asset('./assets/img/icones/reservation/reservation-small-light.svg')}}" alt="logo" />
            </div>
        </nav>
    </div>
</header>
<div id='notificationBox'>

</div>
<div id="navResponsive">
    <nav>
        <ul>
			<a href="{{ path('app_home') }}"><li>Home</li></a>
            <a href="{{ path('app_register') }}"><li>register</li></a>
            <a href="{{ path('app_login') }}"><li>login</li></a>
            <a href="{{ path('app_select_group') }}"><li>gimme a friend</li></a>
            <a href="{{ path('app_select_group') }}"><li>click & collect</li></a>
            <a href="{{ path('app_select_group') }}"><li>gimme a table</li></a>
			<a href="{{ path('app_logout') }}"><li>Logout</li></a>
        </ul>
    </nav>
</div>