{% if user is defined %}

    <header>
    <nav class="d-flex justify-content-between header01" >
           {#} <div class="d-flex"> <!-- MENU BURGER -->
                <a href="#"><img src="../assets/img/icones/menuburger/menu-burger-dark.svg" alt=""></a>
            </div>#}

            <div class="nav-item dropdown d-flex justify-content-start m-5 mb-0">
                <a  class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="../assets/img/icones/menuburger/menu-burger-dark.svg" alt="">
                </a>
                <div class="dropdown-menu">
                    <div><a class="dropdown-item" href="{{ path('app_select_group') }}">gimme a friend</a></div>
                    <div><a class="dropdown-item" href="{{ path('app_date') }}">date</a></div>
                    <div><a class="dropdown-item" href="{{ path('app_home') }}">home</a></div>
                    <div><a class="dropdown-item" href="{{ path('app_logout') }}">deconnexion</a></div>
                    

                </div>
            </div>



            <a id="logo" href="#"> <!-- LOGO -->
                <img src="../assets/img/logo/abattoir-vegetal-logo-medium-dark.svg" alt="Logo yogasaloon">
            </a>

            <div class="d-flex"> 
                <a class="iconeheader me-2" href="{{ path('app_user_profil_success') }}"><img class="test" src="../assets/img/icones/profil/profil-small-light.svg" alt=""></a>
                <a class="iconeheader me-2" href="#"><img src="../assets/img/icones/notifications/notification-small-light.svg" alt=""></a>
                <a class="iconeheader" href="{{ path('app_resa') }}"><img src="../assets/img/icones/reservation/reservation-small-light.svg" alt=""></a>
            </div>
 
        </nav>

    </header>
   
{% else %}
    <header class="mt-3 mb-5 d-flex justify-content-between">

           {#<div class="d-flex justify-content-start m-5"> <!-- MENU BURGER -->
                <a href="#"><img src="../assets/img/icones/menuburger/menu-burger-dark.svg" alt=""></a>
            </div>#}

            <div class="nav-item dropdown d-flex justify-content-start m-5 mb-0">
                <a  class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="height: 29px;">
                    <img src="../assets/img/icones/menuburger/menu-burger-dark.svg" alt="">
                </a>
                <div class="dropdown-menu ">
                    <div class=""><a class="dropdown-item " href="{{ path('app_select_group') }}">gimme a friend</a></div>
                    {#<div><a class="dropdown-item" href="{{ path('app_date') }}">date</a></div>#}
                    <div><a class="dropdown-item" href="{{ path('app_home') }}">home</a></div>
                    <div><a class="dropdown-item" href="{{ path('app_logout') }}">deconnexion</a></div>
                    

                </div>
            </div>


    
            <a id="logo" href="#" class="mt-1"> <!-- LOGO -->
                <img src="../assets/img/logo/abattoir-vegetal-logo-medium-dark.svg" alt="Logo yogasaloon">
            </a>

        <nav class="d-flex justify-content-end navbar-home">
        

        
            <div class="d-flex flex-column">
                <a href="{{ path('app_login') }}" class="text-end">
                    <img class="bouton-gmaf img-fluid" src="../assets/img/boutons/abattoir-vegetal-gimme-friend-off.svg" alt="">
                </a>
                <a>
                    <img class="bouton-cec img-fluid" src="../assets/img/boutons/abattoir-vegetal-click-collect-off.svg" alt="">
                </a>
                <a class="text-end">
                    <img class="bouton-gmat img-fluid" src="../assets/img/boutons/abattoir-vegetal-gimme-table-off.svg" alt="">
                </a>
            </div>
        </nav>
    </header>
 {% endif %}





        