{% extends 'base.html.twig' %}

{% block title  %} Profil Api User {% endblock %}

{% block body %}
<h1>INSCRIPTION PROFIL</h1>

<div class="container mt-5 d-flex justify-content-end">
        
        {{ form_start(UserForm) }}
        <div class="row " id="step1">
            <div class="col-md-6">
                <!-- Partie Gauche -->
                <div class="form-group">
                    {{ form_row(UserForm.username) }}
                </div>
                <div class="form-group">
                    {{ form_row(UserForm.city) }}
                </div>
                {# <div class="form-group">
                    {{ form_row(UserForm.birthdate) }}
                </div> #}
                <div class="form-group">
                    {{ form_row(UserForm.age) }}
                </div>
                <div class="form-group">
                    {{ form_row(UserForm.gender) }}
                </div>
                <div  class="form-group">
                    {{ form_row(UserForm.language) }}
                </div>
                <div class="form-group">
                    <img class="img-thumbnail  float-start" src="https://randomuser.me/api" alt="">
                    {{ form_widget(UserForm.image) }}
                </div>
                <div class="form-group">
                    {{ form_row(UserForm.job) }}
                </div>
                <div class="form-group">
                    {{ form_row(UserForm.description) }}
                </div>
            </div>
                <div class="form-group">
                    {{ form_row(UserForm.diet) }}
                </div>
        </div>

        {# Etape 2 #}
        <div class="container" style="display:none" id="step2">
            <h1>{{ form_label(UserForm.centerOfInterest) }}</h1>
            <div class="d-flex justify-content-center">
                {{ form_widget(UserForm.centerOfInterest) }}
            </div>
            {{ form_row(UserForm.centerOfInterestPerso) }}
        </div>
    </div>
</div>

<div class="btn d-flex">
    <button onclick="step1()" id="nextbtn1">suivant</button>
    <button onclick="back1()" style="display:none" id="backbtn1">retour</button>
{{ form_widget(UserForm.submit, {'id': 'submitBtn', 'attr': {'style': 'display: none;'}}) }}
</div>
{{ form_end(UserForm) }}

{% endblock %}
