{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>Création de User en base de donnée</h1>


        <tbody>
       
            <tr>
                <td>{{ apiuser.username }}</td>
                <td>{{ apiuser.job }}</td>
                <td>{{ apiuser.city }}</td>
                <td>{{ apiuser.diet }}</td>
                {# <td>{{ user.allergy }}</td> #}
                <td>{{ apiuser.description }}</td>
                <td>{{ apiuser.centerOfInterest }}</td>
            </tr>
       
       
        </tbody>
    </table>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Enregistrer</button>
    {{ form_end(form) }}

 

{% endblock %}


