{% extends 'base.html.twig' %}


{% block title  %} Edition du profil utilisateur {% endblock %}
{% block body %}
    {# {{ include('_header.html.twig') }} #}
    {# PAGE DE PRESENTATION #}

        
 
      {{ form_errors(UserForm) }}
      {{ form_start(UserForm, {'attr': {'id': 'user-fom'}}) }}   

    

    <section >
         <div class="container" >
            <div class="row">
                <div class="col-9 offset-1" >

                    <article class="psmall border-card">

                      <div class="row">
                        <div class="col-11 d-flex justify-content-end titrecard z-3 position-relative align-items-baseline">
                          <a id='link-profil-jesuis' class="me-4 link-jesuis active" href="#"><!--lien vers page -->
                              <h2>JE SUIS</h2>
                          </a>
                          <a id='link-profil-jaime' class="me-4 link-jaime" href="#"><!--lien vers page -->
                              <h2>J'AIME</h2>
                          </a>
                          <a id='link-profil-jeveuxV2' href="#" class="link-jeveux"><!--lien vers page -->
                              <h2>JE VEUX</h2>
                          </a>
                        </div>
                      </div>
                                        <!--        APEL LES PAGE DINCRIPTION ET DE MODIFICATION DU PROFIL          -->
                      {# PREMIERE CARD #}
                      {{ include('user_profil/sections/section-jesuis-edit.html.twig') }}
                      {# DEUXIEME CARD #}
                      {{ include('user_profil/sections/section-jaime-edit.html.twig') }}
                      {# TROISIEME CARD #}
                      {{ include('user_profil/sections/section-jeveux-edit.html.twig') }}


                      <div class="row mt-3 ">
                        <div class="col-12 d-flex justify-content-end ">
                          {{ form_widget(UserForm.submit, {'attr': {'class': 'bouton-smallest-transparent me-4'}}) }}
                        </div>
                      </div>
                  
                  </article>
                    
                </div>

            </div>
         </div>

    </section>

    
    {{ form_end(UserForm,{render_rest:false}) }}
{% endblock %}


{# ici premiere page #}
        {# {{ form_label(UserForm.username) }}                    
        {{ form_widget(UserForm.username, {'attr': {'class': 'stroke-input mb-3'}}) }}

        {{ form_label(UserForm.postalCode) }}
        {{ form_widget(UserForm.postalCode, {'attr': {'class': 'stroke-input mb-3'}}) }}

        {{ form_label(UserForm.age) }} 
        {{ form_widget(UserForm.age, {'attr': {'class': 'stroke-input mb-3'}}) }} 

        {{ form_label(UserForm.gender) }}                                  
        {{ form_widget(UserForm.gender, {'attr': {'class': 'stroke-input ', 'style': 'border: none;font-size:12px;'}}) }} 

        {{ form_widget(UserForm.language, {'attr': {'class': 'stroke-input mb-3'}}) }}

        {{ form_widget(UserForm.image, {'attr': {'class': 'bouton-smallest-hug size-btn mb-3'}}) }}

        {{ form_label(UserForm.job) }}

        {{ form_label(UserForm.description) }}
        {{ form_widget(UserForm.description, {'attr': {'class': 'stroke-input mb-3'}}) }}

        {{ form_label(UserForm.diet) }}
        {{ form_widget(UserForm.diet) }} #}
        
        {# ICI DEUXIEME PAGE #}
        {# {{ form_label(UserForm.centerOfInterest) }}
        {{ form_widget(UserForm.centerOfInterest) }}
        {{ form_label(UserForm.centerOfInterestPerso) }}
        {{ form_widget(UserForm.centerOfInterestPerso, {'attr': {'class': 'stroke-input '}}) }} #}
    
        {# ICI TROISIEME PAGE #}


                       
        {# {{ form_widget(UserForm.submit, {'attr': {'class': 'bouton-smallest-transparent '}}) }}
        {{ form_end(UserForm) }} #}


{#

<section>
          <div class="container">
            <div id="commentcamarche" class="row text-center d-flex flex-wrap">
              <h1 class="titre mt-5 mb-5">comment ça marche ?</h1>
              <article class="cardinscris col-3">
                <p class="numeros numero1">1</p>
                <img src="/assets/img/formes/monstera-small-menthe-vertical.svg" alt="" class="z-n1 position-absolute feuille-ptn1">
                <div class="border1">
                  <img src="/assets/img/icones/legumes/carotte.svg" alt="" class="mt-4 mb-4">
                  <h2 class="mt-3">je m'inscris</h2>
                  <p class="psmallest mt-4 mb-3">Crée toi un compte chez nous pour suivre tes demandes et réservations !</p>
                </div>
              </article>
              <article class=" cardinscris col-3 margin2 align-items-center">
                <p class="numeros numero2">2</p>
                <img src="/assets/img/formes/feuille-big-framboise-envers.svg" alt="" class="z-n1 position-absolute feuille-ptn2 feuille-taille">
                <div class=" border2">
                  <img src="/assets/img/icones/legumes/radis.svg" alt="" class="mt-4 mb-5">
                  <h2 class="">je&nbsp;me&nbsp;décris</h2>
                  <p class="psmallest mt-4 mb-3">Remplis ton profil afin que les autres puissent savoir qui tu es pour apâter le chalan</p>
                </div>
              </article>
              <article class="cardinscris col-3 margin2 align-items-center">
                <p class="numeros numero3">3</p>
                <img src="/assets/img/formes/marguerite-orange.svg" alt="" class="z-n1 position-absolute feuille-ptn3">
                <div class="border3">
                  <img src="/assets/img/icones/legumes/pois.svg" alt="" class="mt-4 mb-5">
                  <h2 class=" mb-4">je choisis</h2>
                  <p class="psmallest mb-3">Choisis avec qui tu veux manger en fonction de ce qu’ils ont remplis dans leur profil</p>
                </div>
              </article>
            </div>
          </div>
        </section>

        #}