{% extends 'base.html.twig' %}

{% block title  %} Profil User {% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('./assets/css/profil.css')}}">{% endblock %}

{% block body %}
{# <h1>INSCRIPTION PROFIL </h1> #}


{# CARD JE SUIS 1 #}
    <fieldset class="active">
    <div id="jesuis" class="container ">
   <div class=" row">
        <div class="">
          <article class="psmall border-card">
          
            <div class="row"> <!-- TITRE CARD FORMULAIRE -->
              <div class="col-11 d-flex justify-content-end titrecard z-3 position-relative align-items-baseline">
                <a class="me-4 link-jesuis active" href="#">
                  <h2>JE SUIS</h2>
                </a>
                <a class="me-4 link-jaime" href="#">
                  <h2>J'AIME</h2>
                </a>
                <a href="#" class="link-jeveux">
                  <h2>JE VEUX</h2>
                </a>
              </div>

            </div>

            {{ form_errors(UserForm) }}
        {{ form_start(UserForm) }}
            <div class="container">
              <div class="row">
                <div class="col-md-12 ">
                  <div class="align-top maDiv col-4 offset-1"> <!-- 1ère partie card -->
                    <div>
                      <div class="mb-3"> <!-- je m'appelle et j'habite input -->
                        <div>
                          <div>                    
                          {{ form_label(UserForm.username) }}
                          </div>
                          {{ form_widget(UserForm.username, {'attr': {'class': 'stroke-input mb-3'}}) }}
                          <div>
                            <div>{{ form_label(UserForm.city) }}</div>
                          {{ form_widget(UserForm.city, {'attr': {'class': 'stroke-input mb-3'}}) }}
                          </div>
                        </div>
                      </div>
                      <div class="mb-1 align-text"> <!-- je suis né inputx3-->
                      {{ form_label(UserForm.dateOfBirth) }} 
                       <div class="date-wrap">
                      {{ form_widget(UserForm.dateOfBirth, {'attr': {'class': 'stroke-input mb-3'}}) }} 
                        </div>
                      </div>
                      <div class="mb-4 date-wrap align-text"> <!-- je suis bouton radio -->
                        {{ form_label(UserForm.gender) }}                                  
                        <div class="flex-end">
                        {{ form_widget(UserForm.gender, {'attr': {'class': 'stroke-input ', 'style': 'border: none;font-size:12px;'}}) }} 
                        </div>
                      </div>
                      <div> <!-- Je parle input -->
                        <div>
                       {{ form_label(UserForm.language) }}
                        </div>
                          {{ form_widget(UserForm.language, {'attr': {'class': 'stroke-input mb-3'}}) }}
                      </div>
                    </div>
                  </div>
                  <div class="align-top maDiv col-4 offset-2"> <!-- 2ème partie card -->
                    <div class="wrap-bouton mb-1"> <!-- img + btn -->
                      <div>
                        <img src="../assets/img/icones/profil/profil-big.svg" alt="" class="largeur">
                      </div>
                      <div class="position-bouton">
                          {{ form_widget(UserForm.image, {'attr': {'class': 'bouton-smallest-hug size-btn mb-3'}}) }}
                     
                        <select class="w-100 bouton-smallest-hug size-btn mb-3 form-select" aria-label="Disabled select example" disabled>
                        <option selected>choisir un avatar  </option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                        </select>
                      </div>
                    </div>
                    <div class="mb-3"> <!-- input 2ème partie card -->
                      <div>
                        {{ form_label(UserForm.job) }}
                        </div>
                          {{ form_widget(UserForm.job, {'attr': {'class': 'stroke-input mb-3'}}) }}
                     <div class="mt-3">
                       {{ form_label(UserForm.description) }}
                          {{ form_widget(UserForm.description, {'attr': {'class': 'stroke-input mb-3'}}) }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="offset-1"> <!-- 3ème partie card -->
                    <div> <!-- texte 3ème partie card -->
             {{ form_label(UserForm.diet) }}
                    </div>
                    <div> <!-- btn radio -->
                      <div class="flex-pref mt-4">
             {{ form_widget(UserForm.diet) }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>

        </article>
        <div class="row">
          <div class="jesuisbouton">
            <button href="#" onclick="nextStep()" class="bouton-smallest-transparent">
              suivant
            </button>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    </fieldset>

{# fin card je suis 1 #}


{# J'aime partie 2 #}
    <fieldset class="mt-5" style="display: none;">
<div class="container" id="jaime">
          
                    <div class="cardjaime ">
                        
                        <div class="row"> <!-- TITRE CARD FORMULAIRE -->
                            <div
                                class="col-11 d-flex justify-content-end titrecard z-3 position-relative align-items-baseline">
                                <a class="me-4 link-jesuis" href="#">
                                    <h2>JE SUIS</h2>
                                </a>
                                <a class="me-4 link-jaime active" href="#">
                                    <h2>J'AIME</h2>
                                </a>
                                <a href="#" class="link-jeveux">
                                    <h2>JE VEUX</h2>
                                </a>
                            </div>
    
                        </div>
    
    
                            <div class="mb-3 ">
                             {{ form_label(UserForm.centerOfInterest) }}
                            </div>
    
                               <div class="d-flex column">
                             {{ form_widget(UserForm.centerOfInterest) }}
                            </div>
    
                               
                        <div class="mt-3">
    
                        {{ form_label(UserForm.centerOfInterestPerso) }}
                          {{ form_widget(UserForm.centerOfInterestPerso, {'attr': {'class': 'stroke-input '}}) }}
    
                         </div>
                            </div>
    
    
                    </div>
                </div>

                <div class="row g0">
                    <div class="offset-md-3 col-md-9 d-flex justify-content-between jaimebouton">
                        <a class="bouton-smallest-transparent" onclick="previousStep()">Retour</a>
                        <a class="bouton-smallest-transparent" onclick="nextStep()">Suivant</a>
                    </div>
              
        </div>
        </div>
        </div>
</fieldset>

        {# Fin de j'aime partie 2  #}

    <fieldset style="display: none;">

        {# je veux Etape 3 #}
        <div class="container" >
           JE VEUX
                           <button type="button" class="btn btn-primary" onclick="previousStep()">Retour</button>
{{ form_widget(UserForm.submit) }}
        </div>
</fieldset>
        {# Fin de je veux Etape 3   #}


{{ form_end(UserForm) }}




{% endblock %}
