{% extends 'base.html.twig' %}

{% block title  %} Profil User {% endblock %}

{% block body %}


<div class="container " style=" margin-top: 100px";>
    {{ form_errors(UserForm) }}


       
        
        {{ form_start(UserForm) }}

         <div class="row box8">
        <div class="mx-auto mb-4 d-flex flex-row justify-content-end">
            <h2 class="me-4 link-jesuis active">JE SUIS</h2>
            <h2 class="fw-bold mx-3">J'AIME</h2>
            <h2 class="fw-bold mx-3">JE VEUX</h2>
        </div>


    <fieldset class="active">
         <div class="container  " >
                <div class="row "  >
                    <div class="col-md-6">
                                <!-- Partie Gauche -->
                                
                                    {{ form_row(UserForm.username) }}
                            
                                
                                    {{ form_row(UserForm.city) }}
                            
                            
                            
                                    {{ form_row(UserForm.age) }}
                            
                            
                                    {{ form_row(UserForm.gender) }}
                            
                            
                                    {{ form_row(UserForm.language) }}
                                
                            </div>

                            <div class="col-md-6">
                                <!-- Partie Droite -->
                                <div class="form-group">
                                    <img class="img-thumbnail  float-start" src="https://media.istockphoto.com/id/1300845620/fr/vectoriel/appartement-dic%C3%B4ne-dutilisateur-isol%C3%A9-sur-le-fond-blanc-symbole-utilisateur.jpg?s=612x612&w=0&k=20&c=BVOfS7mmvy2lnfBPghkN__k8OMsg7Nlykpgjn0YOHj0=" style="width: 30% " alt="">
                                    {{ form_widget(UserForm.image) }}
                                </div>
                                <button class="bouton-smallest-hug size-btn mb-3">
                                        télécharger une photo
                                        </button>
                                <div class="labelalign">
                                    {{ form_row(UserForm.job) }}
                                </div>

                                <div class="labelalign">
                                    {{ form_row(UserForm.description) }}
                                </div>

                        </div>
                        <div class="form-group mb-5">
                            {{ form_label(UserForm.diet) }}
                    <div class="d-flex justify-content-center ">
                        {% for choice in UserForm.diet %}
                            <label class="{{ choice.vars.attr.class}}" style="margin-right : 10px;">
                                {{ form_widget(choice) }}
                                {{ choice.vars.label }}
                            </label>
                        {% endfor %}
                    </div>
               </div>
            </div>   

        </div>
        
              <button type="button" class="btn btn-primary" onclick="nextStep()">Suivant</button>
        </fieldset>

            <fieldset style="display: none;">

                {# Etape 2 #}
                <div class="container" >
                    {{ form_label(UserForm.centerOfInterest) }}
                    <div class=" ">
                    {% for choice in UserForm.centerOfInterest %}
                    <label class="{{ choice.vars.attr.class }}" style="margin-right: 10px;">
                        {{ form_widget(choice) }}
                        {{ choice.vars.label }}
                    </label>
                {% endfor %}
                    </div>
                    <div class="labelalign">
                    {{ form_row(UserForm.centerOfInterestPerso) }}
                    </div>
                </div>
        <button type="button" class="btn btn-primary" onclick="previousStep()">Retour</button>
            <button type="button" class="btn btn-primary" onclick="nextStep()">Suivant</button>
        </fieldset>

            <fieldset style="display: none;">

                {# Etape 3 #}
                <div class="container" >
                
                <button type="button" class="btn btn-primary" onclick="previousStep()">Retour</button>

        {{ form_widget(UserForm.submit) }}
                </div>
        </fieldset>


              


        {{ form_end(UserForm) }}
</div>        

{% endblock %}
