{% extends 'base.html.twig' %}

{% block title %}Profil utilisateur{% endblock %}

{% block body %}
    
            
<section id="profil">
    
    <div class="rectangle"></div>


    <div class="container"> <!-- MARGES -->
        <div class="row">
                    <div class="col-12 z-2 ">
                        <div class="mes-informations d-flex justify-content-between align-items-center">
                            
                            
                            <h1>Mes informations</h1>
                            <a href="#" class="lien-modifier">
                                <img class="icone-modifier" src="../assets/img/icones/modifier.svg" alt="icone crayon"> Modifier
                            </a>
                        </div>
                    </div>
                <div class="col-4 ">

                    <div class="row">

                        <div class="col-9 "> <!-- CARD-ALICE -->
                            <article class="card-user card-small position-relative z-2">
                                <div class="entiere">
                                    <div>
                                        <img class="img-user" src="{{ user.image }}"
                                            alt="">
                                    </div>

                                    <div class="description">

                                        <!-- LIGNE NOM ET DRAPEAUX -->
                                        <div class="row">
                                            <div class="col-8">
                                                <p class="pbold tag"> {{ user.username }} <img src="../assets/img/icones/zodiac/zodiac-capricorne.svg" alt=""></p>
                                            </div>
                                            <div class="col-4 d-flex justify-content-end">

                          
                                                {% for languageCode in user.language %}
                                                  <p>{{languageCode}}</p>
                                                {% endfor %}
            
                                                  
                                        </div>

                                        <div class="row">

                                            <div class="col-8 infos-contact">
                                                <p class="tag mt-3"><img src="../assets/img/icones/infos-contact/localisation.svg" alt=""> 
                                                                                               
                                                {% if user.postalCode is not empty %}
                                                {{ user.city }} ({{ user.region }})        
                                                {% endif %}
                                                </p>

                                                <p class="tag mt-2"><img src="../assets/img/icones/infos-contact/anniversaire.svg" alt=""> {{ user.age }} </p>
            
                                                <p class="tag mt-2"><img src="../assets/img/icones/selection/selection-genre-off.svg" alt=""> {{ user.gender }}</p>
                                            </div>
                                          {#
                                            <div class="col-4 tag-prefs">
                                                <div class="tag-menthe d-flex flex-column align-items-end mt-3">
                                                    <p class="tag-menthe-small psmall tag">Curieux</p>
                                                    <p class="tag-menthe-small psmall tag">Groupe</p>
                                                </div>
                                            </div>
                                            #}
                                        </div>
                                               {#
                                                <div class="row">

                                                    <div class="col jm">

                                                        <p class="pbold mt-4">J'aime...</p>
                                                        <div class="col d-flex align-items-start">
                                                            <p class="tag-jaune-small psmall tag me-auto">Animaux</p>
                                                            <p class="tag-jaune-small psmall tag me-auto">Art</p>
                                                            <p class="tag-jaune-small psmall tag me-auto">Danse</p>
                                                            <p class="tag-jaune-small psmall tag">Activités sociales</p>
                                                        </div>

                                                    </div>

                                                </div>
                                                #}

                                        <p class="col-12 citation"> {{ user.description }} </p>
                                                {#
                                                <div class="row">

                                                    <div class="col jerfuse">

                                                        <p class="pbold mt-4">Je refuse...</p>
                                                        <div class="col d-flex align-items-start">
                                                            <p class="tag-jaune-small psmall tag me-3">Racistes</p>
                                                            <p class="tag-jaune-small psmall tag me-3">Vegans</p>
                                                            <p class="tag-jaune-small psmall tag me-3">Jeux d'argent</p>
                                                        </div>

                                                    </div>

                                                </div>
                                                #}


                                    </div>
                                </div>
                            </article>
                        </div>

                    </div>

                </div> <!--fin col - 4-->

                 <div class="col-8">
                    <div class="z-2">
                        <article id="jesuisprofil" class="psmall border-card">

                            <div class="row"> <!-- TITRE CARD FORMULAIRE -->
                                <div class="col-11 ">
                                    <div  class="d-flex justify-content-end titrecard z-3 position-relative align-items-baseline">
                                        <a class="me-4 link-jesuis active" href="#">
                                            <h2>JE SUIS</h2>
                                        </a>
                                        <a class="me-4 link-jaime" href="#">
                                            <h2>J'AIME</h2>
                                        </a>
                                        <a href="#" class="link-jeveux">
                                            <h2>JE VEUX</h2>
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 ">
                                        <div class="align-top maDiv col-4 offset-1"> <!-- 1ère partie card -->
                                            <div>
                                                <div class="mb-3"> <!-- je m'appelle et j'habite input -->
                                                    <div>
                                                        <div>Je m'apelle...</div>
                                                        {#
                                                         <input type="text" aria-label="Je m'appelle" class="stroke-input mb-3" >
                                                         #}
                                                         <p class="stroke-input mb-3">{{ user.username }}</p>
                                                        <div>
                                                            <div>J'habite...</div>
                                                            {#
                                                            <input type="text" aria-label="J'habite"  class="stroke-input mb-3" >
                                                            #}
                                                            <p  class="stroke-input mb-3" > 
                                                             {% if user.postalCode is not empty %}
                                                             {{ user.city }} ({{ user.region }})        
                                                              {% endif %}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mb-1 align-text"> <!-- je suis né inputx3-->
                                                    <label for="jesuisné" class="date-wrap"> Je suis né(e) le
                                                        ...</label>
                                                    <div class="date-wrap">
                                                        
                                                        <p> {{ user.age }}</p>
                                                        {#
                                                        <input type="text" class="stroke">
                                                        <input type="text" class="stroke">
                                                        <p>&nbsp;/&nbsp;</p>
                                                        <input type="text" class="stroke-year">
                                                        #}
                                                    </div>
                                                </div>
                                                <div class="mb-4 date-wrap align-text"> <!-- je suis bouton radio -->
                                                    <div>Je suis ...</div>
                                                    <div class="flex-end">

                                                    <p> {{ user.gender }}</p>
                                                       {#
                                                        <input type="radio" name="inlineRadioOptions" value="Femme"
                                                            class="form-check-input">
                                                        <label>F</label>
                                                        <input type="radio" name="inlineRadioOptions" value="Homme"
                                                            class="form-check-input">
                                                        <label>H</label>
                                                        <input type="radio" name="inlineRadioOptions"
                                                            value="Non-Binaire" class="form-check-input">
                                                        <label class="form-check-label">Non-Binaire
                                                        </label>
                                                        #}
                                                    </div>
                                                </div>
                                                <div> <!-- Je parle input -->
                                                    <div>Je parle...</div>
                                                   
                                                           {% for languageCode in user.language %}
                                                          <p>{{languageCode}}</p>
                                                           {% endfor %}
                                                   {# 
                                                    <input type="text" aria-label="Je parle" class="stroke-input">
                                                    #}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="align-top maDiv col-4 offset-2"> <!-- 2ème partie card -->
                                            {#
                                            <div class="wrap-bouton mb-1"> <!-- img + btn -->
                                                <div>
                                                    <img src="Assets/ICONES/profil/profil-big.svg" alt=""
                                                        class="largeur">
                                                </div>
                                                <div class="position-bouton">
                                                    <button class="bouton-smallest-hug size-btn mb-3">
                                                        télécharger une photo
                                                    </button>
                                                    <button class="bouton-smallest-hug size-btn mb-3">
                                                        choisir un avatar
                                                    </button>
                                                </div>
                                            </div>
                                            #}   
                                            <div class="mb-3"> <!-- input 2ème partie card -->
                                                <div>
                                                    <div class="mt-3">Je bosse dans...</div>

                                                    <p>{{ user.job }}</p>

                                                    {#
                                                    <input type="text" aria-label="Je bosse dans" class="stroke-input mb-3">
                                                    #}
                                                    <div class="mt-3">
                                                        <div>Je me décris en quelques mots...</div>
                                                        <p> {{ user.description }}</p>
                                                        {#
                                                        <input type="text" aria-label="Je me décris"
                                                            class="stroke-input mb-3">
                                                        <br>
                                                        <input type="text" aria-label="Je me décris"
                                                            class="stroke-input">
                                                        #}    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="offset-1"> <!-- 3ème partie card -->
                                            <div>Mon régime alimentaire ...</div>
                                            <div> 
                                                <p class="psmall mt-4">{{ user.diet }}</p>
                                            </div>

                                            {#
                                            <div> <!-- btn radio -->
                                                <div class="flex-pref mt-4">
                                                    <input type="radio" id="ProfilChoice1" name="choice" value="vegan"
                                                        class="preferences demo2 demoyes">
                                                    <label for="ProfilChoice1">Végan(e)</label>
                                                    <input type="radio" id="ProfilChoice2" name="choice" value="curieux"
                                                        class="preferences demo2 demoyes margin-radio">
                                                    <label for="ProfilChoice2">Curieu(x/se)</label>
                                                    <input type="radio" id="ProfilChoice3" name="choice"
                                                        value="vegetarien"
                                                        class="preferences demo2 demoyes margin-radio">
                                                    <label for="ProfilChoice3">Végétarien(ne)</label>
                                                    <input type="radio" id="ProfilChoice4" name="choice"
                                                        value="flexitarien"
                                                        class="preferences demo2 demoyes margin-radio">
                                                    <label for="ProfilChoice4">Flexitarien(ne)</label>
                                                </div>
                                            </div>
                                            #}
                                        </div>
                                        
                                    </div>

                                </div>

                            </div>

                        </article>
                    </div>
                </div> 
            </div><!-- fin col-8-->

            <div class="infoprofil position-relative z-2">
             <p>{{ user.username }}</p>
             <p>{{ user.age }}</p>
             <span class="vertical-line"></span>
              <p class="tag">{{ user.email }}</p>
             <p>**********</p>
            <button class="bouton-smallest-hug size-btn mb-3"> Changer de mot de passe </button>
             </div>
                        
             <div>
                <img class="algue-verte-profil position-relative z-2" src="../assets/img/formes/algue-big-sapin-endroit.svg" alt="">
            </div>



                


                























        </div> <!--fin row-->
    </div> <!-- fin conatiner-->
</section>


{% endblock %}





           
            


