{% extends 'base.html.twig' %}

{% block title %}Profil utilisateur{% endblock %}

{% block body %}
    {{ include('_header.html.twig') }}

    {# ICI PREMIERE PAGE #}
 	{{ user.username }}
    {% if user.postalCode is not empty %}
        {{ user.city }} ({{ user.region }})        
    {% endif %}     
	{{ user.age }}
    {{ user.gender }}
    <ul>
        {% for languageCode in user.language %}
            <li>{{languageCode}}</li>
        {% endfor %}
    </ul>
    {{ user.image }}
    {{ user.job }}
    {{ user.description }}
    {{ user.diet }}

    {# ICI DEUXIEME PAGE #}
    <ul>
        {% for interest in user.centerOfInterest %}
            <li>{{ interest }}</li>
        {% endfor %}                         
    </ul>
    {{ user.centerOfInterestPerso }}
    {{ user.username }}
    {{ user.email }}

{% endblock %}
